* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background: rgb(26, 7, 48);
    background: radial-gradient(circle, #1a0730 62%, rgba(0, 0, 0, 1) 100%);
    font-family: "K2D", sans-serif;
    color: white;
}

main {
    margin: 0% 5%;
}

header {
    width: 100%;
    padding: 1% 5%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.stellarLogo h1{
    display: none;
}

header i {
    font-size: 1.8em;
}

header h1 {
    color: white;
    font-size: 2em;
    margin-left: 10px;
}

header img {
    height: 45px;
}

header nav{
    display: none;
}


@media (min-width: 768px) {
    header nav {
        width: 45%;
        display: block;
    }
    
    header nav ul {
        display: flex;
        list-style: none;
        justify-content: space-around;
        font-size: 1.3rem;
        font-weight: 100;
    }
}

@media (min-width: 1020px) {
    header nav {
        width: 35%;
        display: block;
    }


}

@media (min-width: 1500px) {

    header {
        padding: 1% 10%;
    }

}